body{
    background-color:black;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
header{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:black;
    color:rgb(77, 133, 77);
    
}
.menu-lista{
    display:flex;
    background-color: black;
    color:white;
        
}
main{

    background-color:rgb(77, 133, 77);
}
aside{
    background-color:rgb(77, 133, 77);

}
/*PRESENTACION*/
.presentacion{
    display:flex;
    font-size:1rem;
    background-color:white;
    color:black;

}
footer{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:black;
    color:white
}

/*COMENTARIOS*/
.titulo-principal {
color:rgb(77, 133, 77);
background-color:black;
font-size: 5rem;
justify-content:center;
display:grid;
}

/*TABLA HORARIOS ATENCION*/
.tablita{
    border:2rem;
    border-radius:2rem;
    color:rgb122, 177, 122
}
.dias-tabla {
    font-weight: bolder;
    font: size 50px;;
    color:black;
    background-color:rgb(77, 133, 77);
    border-radius: 2rem;
   
}
.horario-tabla {
    font-style: italic;
    color:white;
    background-color:rgb(77, 133, 77);
    border-radius: 2rem;

}
/*NAV*/
.nav-card{
    display:flex;
    direction:row;
    justify-content:center;
    gap: 5px;;
    font-size:3rem;
    font-size: large;
    padding:0;
    background-color:rgb(77, 133, 77);
    color:black
    

}

/*NUESTROS PRODUCTOS*/

.tituloproductos{
    font-size: large;
    font-style: italic;
    display: flex;

}
.productosflag{
    font-size: medium;
    font-style: oblique;
    display: flex;

}
/*NOSOTROS*/
.nosotros{
    background-color:rgb(77, 133, 77);
    color:white
}

/*HEADER*/
.menu-lista {
    list-style:none;
    display:flex;
    justify-content: center;
    
}
.header {
    background-color:black;
    background-color:rgb(77, 133, 77);

}
/*TABLA QUIENES SOMOS*/
.quienessomos{
    display:flex;
    background-color:rgb(77, 133, 77);
    color:black
}
/*FOOTER*/
.footer-style {
    background-color:rgb(77, 133, 77);
    color:black;
    display:flex;
    justify-content: center;
    flex-direction:row;


}
/*FOTOS STYLE*/
.fotomapa{
    display: flex;
    width:auto;;
}
.foto-tarjeta{
    width:400px;
}

.fotoflor{
    display:flex;
    width:100px;
}
.fotocharly{
    display:flex;
    width: 100px;;
}
.fotoflag{
    display:flex;
    width:max-content;

}
.logoflag{
    display: flex;
    width: 100px;;
}
/*.header a:active,
.header a:visited {
    color: violet;
}*/